<!-- FOOTER -->
<footer class="footer">
	<div class="container">
		<ul class="list-inline social">
			<li><a href="https://twitter.com/gaboVazq82" target="_blank"
				class=""><i class="fa-stack fa-lg"><i
						class="fa fa-circle fa-stack-2x"></i><i
						class="fa fa-twitter fa-stack-1x fa-inverse"></i></i></a></li>
			<li><a
				href="https://www.linkedin.com/in/gabrielvazquezmartinez/en"
				target="_blank" class=""><i class="fa-stack fa-lg"><i
						class="fa fa-circle fa-stack-2x"></i><i
						class="fa fa-linkedin fa-stack-1x fa-inverse"></i></i></a></li>
			<li><a href="https://github.com/gvazq82" target="_blank"
				class=""><i class="fa-stack fa-lg"><i
						class="fa fa-circle fa-stack-2x"></i><i
						class="fa fa-git fa-stack-1x fa-inverse"></i></i></a></li>
			<li><a href="mailto:gvazq82@gmail.com" class=""><i
					class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
						class="fa fa-envelope fa-stack-1x fa-inverse"></i></i></a></li>
		</ul>
		<p>© 2015 Gabriel Vazquez. All rights reserved.</p>
	</div>
</footer>