<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#top-menu-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#"> <img class="navbar-logo" alt="Gabrie Vazquez"
					src="images/gabriel_vazquez.png">
				</a>

			</div>
			<div class="collapse navbar-collapse" id="top-menu-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#projects"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;Projects</a></li>
					<li><a href="#about"><span
							class="glyphicon glyphicon-user"></span>&nbsp;About</a></li>
					<li><a href="#contact"><span
							class="glyphicon glyphicon-envelope"></span>&nbsp;Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>